* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    text-align: center;
}

body {
    overflow: hidden;
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    height: 100dvh;
    align-items: center;
    justify-content: center;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: calc(100% - 100px);

    background: linear-gradient(
        90deg,
        #00558a 0px,
        #00558a 20px,
        #112456 20px,
        #112456 40px
    );

    background-size: 40px 100%;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100vw;
    height: 100px;
    padding: 0 10px;
    background-color: blue;
}

#menu button {
    font-weight: bold;
    background-color: orange;
    transition: all 0.3s;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#menu button:hover {
    transform: translateY(-4px);
}

#menu button.active:hover {
    transform: translateY(0);
}

#menu button:active {
    transform: translateY(4px);
}

@keyframes surge {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0%);
    }
}

#notifyContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 60px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    z-index: 9999;
}

.notify {
    min-width: 60px;
    height: 60px;
    padding: 12px;

    border-radius: 10px;

    color: white;

    animation: fadeIn 0.2s ease;
}

.notify.info {
    background: #3498db;
}

.notify.warn {
    background: orange;
}

.notify.success {
    background: #2ecc71;
}

.notify.error {
    background: #e74c3c;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    font-size: 14px;
}

#hover {
    text-align: center;
    width: 20px;
    aspect-ratio: 1 / 1;
    border-radius: 50px;
    outline: 1px solid white;
    cursor: pointer;
}

#data {
    color: black;
    transition: transform 0.2s ease;
    transform: translateX(100vw);
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: rgb(255, 255, 255);
    outline: 2px solid black;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}

#hover:hover #data {
    transform: translateX(0);
}

@media screen and (max-width: 729px) {
    #notifyContainer {
        position: fixed;
        top: 20px;
        left: 0px;
        width: 100vw;
        height: 60px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        z-index: 9999;
    }

    .notify {
        width: 90%;
        height: 60px;
        padding: 12px;

        border-radius: 10px;

        color: white;

        animation: fadeIn 0.2s ease;
    }

    #version {
        color: white;
        font-size: 10px;
    }
}
