#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clicker {
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: surge 0.2s linear forwards;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#cookies {
    font-family: "NumberFont", sans-serif;
    font-size: 24px;
}

.clicker img {
    cursor: pointer;
    width: 300px;
    filter: drop-shadow(0px 4px 20px rgb(255, 220, 170));
}

.clicker img:active {
    transform: scale(0.95);
}
